<div class="grid-container">
    <div class="grid-bottom-right">
        <P>Play Ground for Twilio Programmable Video API </P>
    </div>
    <div class="grid-left ml-2">
        <app-rooms #rooms (roomChanged)="onRoomChanged($event)"
            [activeRoomName]="!!activeRoom ? activeRoom.name : null"></app-rooms>
    </div>
    <div class="grid-content">
        <app-camera #camera [style.display]="!!activeRoom ? 'none' : 'block'"></app-camera>
        <app-participants #participants (leaveRoom)="onLeaveRoom($event)"
            (participantsChanged)="onParticipantsChanged($event)" [style.display]="!!activeRoom ? 'block' : 'none'"
            [activeRoomName]="!!activeRoom ? activeRoom.name : null"></app-participants>
    </div>
    <div class="grid-right mr-2">
        <app-settings #settings (settingsChanged)="onSettingsChanged($event)"></app-settings>
    </div>
    <div class="grid-top-left">

        <a href="#" target="_blank">VideoChatApp</a>
    </div>
</div>